*{
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Oswald', sans-serif;
}

/* --START HEADER-- */
header{
	margin-bottom: 0;
}
#header-nav{
	border-radius:0;
	border-bottom: 1px solid black;
	background: #636363;
}
#header-nav a{
	margin-left: 10px;

	color: black;
	text-decoration: none;
	font-weight: bold;	
}

button.navbar-toggle{
	height: 40px;
	width: 40px;
	padding: 5px;

	background: #636363;
}
.icon-bar, button.navbar-toggle{
	border: 2px solid black;
	margin: 2px;
}

/* --END HEADER -- */ 
/*  --START BODY-- */
#our-menu{
	/*Our Menu h1 title */
	font-weight: 5;
	font-size: 2em;
	color: black;
}
/* Gray section in the middle */
section{
	padding: 10px;
}
.dummy{
	background: gray;
	height: 1000px;

	margin-top: 10px;
	margin-bottom: 10px;
	
	overflow: hidden;
}
#nav-list{
	margin-top: 200px;
}
/* Menu List */
#nav-list li{
	background: white;
	border: 1px solid black;
	color: black;	
}

/* --END BODY-- */ 